.logo-container {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid black; */
}

.app-name-s, .app-name {
    align-self: baseline;
    margin-bottom: 5px;
    line-height: 0px;
    color: #0C2D55;
    letter-spacing: 1.5px;
    font-weight: 800;
}
.app-name-s {
    margin-left: -2px;
    margin-right: -4px;
    font-size: 22px;
}

#logo-light {
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.reg-navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
}

#nav-content {
    display: flex;
    gap: 20px;
    /* border: 1px solid black; */
    align-items: center;
}

#nav-content > a {
    line-height: normal;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 1px;
}

#nav-content > button {
    padding: 7px 15px;
    background: #0C2D55;
}

footer {
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background: #0C2D55;
}

#footer-first {
    display: flex;
    gap: 10px;
}

#footer-about-app {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#social-media {
    display: flex;
    gap: 20px;
}